node_modules

**/node_modules

**/.env

**/python_env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Scrapy
.scrapy/

# Temp scraper outputs
backend/temp_scraper_outputs/
backend/temp/

# Redis dump
dump.rdb